<h1>Orders</h1>
<p *ngIf="!paginatedOrder"><em>Loading...</em></p>

<div *ngIf="paginatedOrder">
  <button class="btn btn-outline-primary" [routerLink]='["/order"]'>Create</button>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Customer Name</th>
        <th>Price</th>
        <th>Address</th>
        <th><button class="btn btn-link" (click)="refresh()">refresh</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of paginatedOrder.orders">
        <td>{{ order.id }}</td>
        <td>{{ order.customerName }}</td>
        <td>{{ order.price }}</td>
        <td>{{ formatAddress(order) }}</td>
        <td>
          <button class="btn btn-link" [routerLink]='["/order",order.id]'>
            edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-lg btn-block btn-outline-dark" (click)="loadMore()" [disabled]="!enableLoadMore">Load More...</button>
</div>
