<h1>Order: {{id}}</h1>
<p *ngIf="found == undefined"><em>Loading...</em></p>

<div *ngIf="found">
  <h4>Customer Name: <strong>{{order.customerName}}</strong>, Price: <strong>{{order.price}}</strong></h4>
  <form [formGroup]="editOrderForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="city">City:</label>
      <input type="text" formControlName="city" placeholder="City" name="city" class="form-control" id="city">

      <div *ngIf="city.invalid && (city.dirty || city.touched)"
           class="alert alert-danger">
        <div *ngIf="city.errors.required">
          City is required.
        </div>
        <div *ngIf="city.errors.minlength">
          City must be at least 3 characters long.
        </div>

        <div *ngIf="city.errors.maxlength">
          City must be less than 100 characters long.
        </div>

        <div *ngIf="city.errors.serverError">
          {{city.errors.serverError}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="state">State:</label>
      <input type="text" formControlName="state" placeholder="State" name="state" class="form-control" id="state">

      <div *ngIf="state.invalid && (state.dirty || state.touched)"
           class="alert alert-danger">
        <div *ngIf="state.errors.required">
          State  is required.
        </div>
        <div *ngIf="state.errors.minlength">
          State must be at least 2 characters long.
        </div>

        <div *ngIf="state.errors.maxlength">
          state must be less than 30 characters long.
        </div>

        <div *ngIf="state.errors.serverError">
          {{state.errors.serverError}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="street">Street:</label>
      <input type="text" formControlName="street" placeholder="Street" name="street" class="form-control" id="street">

      <div *ngIf="street.invalid && (street.dirty || street.touched)"
           class="alert alert-danger">
        <div *ngIf="street.errors.required">
          Street is required.
        </div>
        <div *ngIf="street.errors.minlength">
          Street must be at least 3 characters long.
        </div>

        <div *ngIf="street.errors.maxlength">
          Street must be less than 100 characters long.
        </div>

        <div *ngIf="street.errors.serverError">
          {{street.errors.serverError}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="neighborhood">Neighborhood:</label>
      <input type="text" formControlName="neighborhood" placeholder="Neighborhood" name="neighborhood" class="form-control" id="neighborhood">

      <div *ngIf="neighborhood.invalid && (neighborhood.dirty || neighborhood.touched)"
           class="alert alert-danger">
        <div *ngIf="neighborhood.errors.required">
          Neighborhood is required.
        </div>
        <div *ngIf="neighborhood.errors.minlength">
          Neighborhood must be at least 3 characters long.
        </div>

        <div *ngIf="neighborhood.errors.maxlength">
          Neighborhood must be less than 100 characters long.
        </div>

        <div *ngIf="neighborhood.errors.serverError">
          {{neighborhood.errors.serverError}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="number">House Number:</label>
      <input type="number" step="1" min="1" formControlName="number" placeholder="House Number" name="number" class="form-control" id="number">

      <div *ngIf="number.invalid && (number.dirty || number.touched)"
           class="alert alert-danger">
        <div *ngIf="number.errors.required">
          House Number is required.
        </div>
        <div *ngIf="number.errors.min">
          House Number must be 1 or Greater.
        </div>

        <div *ngIf="number.errors.serverError">
          {{number.errors.serverError}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="postCode">Post Code:</label>
      <input type="text" formControlName="postCode" placeholder="Post Code" name="postCode" class="form-control" id="postCode">

      <div *ngIf="postCode.invalid && (postCode.dirty || postCode.touched)"
           class="alert alert-danger">
        <div *ngIf="postCode.errors.required">
          Post Code is required.
        </div>

        <div *ngIf="postCode.errors.pattern">
          Post Code is not in a Valid Format (Example 1234AB)
        </div>

        <div *ngIf="postCode.errors.serverError">
          {{postCode.errors.serverError}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="additionalInformation">Additional Information:</label>
      <input type="text" formControlName="additionalInformation" placeholder="Additional Information" name="additionalInformation" class="form-control" id="additionalInformation">
    </div>

    <button class="btn btn-success" [disabled]="editOrderForm.invalid">Update</button>
    <button class="btn btn-link" [routerLink]='["/orders"]'>back</button>
  </form>
</div>

<div *ngIf="!found">
  <h4>Order not found</h4>
  <button class="btn btn-link" [routerLink]='["/orders"]'>back</button>
</div>
