<h1>Create an Order</h1>
<form [formGroup]="addOrderForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="customerName">Customer Name:</label>
    <input type="text" formControlName="customerName" placeholder="Customer Name" name="customerName" class="form-control" id="customerName">

    <div *ngIf="customerName.invalid && (customerName.dirty || customerName.touched)"
         class="alert alert-danger">
      <div *ngIf="customerName.errors.required">
        Customer Name is required.
      </div>
      <div *ngIf="customerName.errors.minlength">
        Customer Name must be at least 3 characters long.
      </div>

      <div *ngIf="customerName.errors.serverError">
        {{customerName.errors.serverError}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="price">Price:</label>
    <input type="number" min="0.00" step="0.01" formControlName="price" placeholder="Price" name="price" class="form-control" id="price">

    <div *ngIf="price.invalid && (price.dirty || price.touched)"
         class="alert alert-danger">
      <div *ngIf="price.errors.required">
        Price is required.
      </div>
      <div *ngIf="price.errors.min">
        Price must be 0 or Greater.
      </div>

      <div *ngIf="price.errors.serverError">
        {{price.errors.serverError}}
      </div>
    </div>
  </div>

  <button class="btn btn-success" [disabled]="addOrderForm.invalid">Create</button>
  <button class="btn btn-link" [routerLink]='["/orders"]'>back</button>
</form>
